<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Include Sidebar Fragment -->
<div th:replace="~{fragments/sidebar :: sidebar}"/>
<!-- Main Content -->
<div class="container mt-5">
    <h2 class="text-center">Staff Details</h2>
    <table id="staffTable" class="table table-bordered">
        <thead class="table-success">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Hiring Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${staff}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.dateOfBirth}"></td>
            <td th:text="${user.hiringDate}"></td>
<!--            <td>-->
<!--                                <a th:href="@{'/customers/edit/' + ${customer.id}}" class="btn btn-sm btn-primary">Edit</a>-->
<!--                                <a th:href="@{'/customers/delete/' + ${customer.id}}" class="btn btn-sm btn-danger">Delete</a>-->
<!--            <td>-->
            <td>
                <a class="btn btn-sm btn-primary">Edit</a>
                <a class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#staffTable').DataTable();
    });
</script>

<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
