<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Sidebar -->
<div class="sidebar" th:fragment="sidebar" id="sidebar">
    <h4 class="text-center py-3">Ghazi Tailors</h4>
    <a th:href="@{/dashboard}">Dashboard</a>
    <a th:href="@{/users/profile}" sec:authorize="hasRole('ROLE_ADMIN')">My Profile</a>
    <a th:href="@{/products}" sec:authorize="hasRole('ROLE_ADMIN')">Products</a>
    <a th:href="@{/customers}" sec:authorize="hasRole('ROLE_ADMIN')">Customers</a>
    <a th:href="@{/orders}" sec:authorize="hasRole('ROLE_ADMIN')">Orders</a>
    <a th:href="@{/logout}" class="text-danger">Logout</a>
</div>

 </html>
