<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Tailor Master</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/font/bootstrap-icons.css}">
</head>
<body>
<!-- Include Sidebar Fragment -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div class="content">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <h2>Dashboard</h2>
        <p>Welcome, <span th:text="${#authentication.name}"></span></p>
    </header>
    <div class="main-content">
        <p>This is the main content of the dashboard.</p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script th:src="@{/js/sidebar-toggle.js}"></script>
</body>
</html>
